<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="">
  <%= @user.name %>
  <ul>
    <% @posts.each do |p| %>
    <li><img src="<%=post.trick %>" alt="" /></li>
    <li><%=post.trick %></li>
  </ul>
</div>
