<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>

<!DOCTYPE html>
<html>
  <body>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

  </body>
</html>
