<h1>New Phone</h1>
<form action="/phones" method="post">
  <input name="name" placeholder="phone name">
  <input name="color" placeholder="phone color">
  <input type="submit" value="Submit Phone">
</form>
