<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1>The title is <%= title %></h1>
    <form action="/skateboards" method="post">
      <input type="text" name="name" placeholder="enter name">
      <input type="text" name="color" placeholder="enter color">
      <input type="submit" class = "btn" value = 'submit now'>
    </form>

  </body>
</html>
