<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <input id="textbox" type="text" name="name" value="enter city name">
    <input id="btn" type="button" name="name" value="get weather">
    <script src="javascripts/scripts.js" charset="utf-8"></script>
    <ul class="picture"></ul>
  </body>
</html>
