/* CSS declarations go here */
/* begin html elements */

li {
  list-style-type: none;
}

/* begin class elements */

.aboutmecontainer {
  min-height: 300px;
  max-height: 100%;
  background-color: #dfeaeb;
  border-bottom: 2px solid #DEC8C8;
}

.aboutmecontainer h2 {
  text-align: center;
}

.appContainer {
  width: 100%;
  background-color: #CADCDE;
  padding-top: 5px;
}

.bodyContainer {
  width: 100%;
  margin: 0 auto;
}

.bottom_container {
  height: 400px;
  background-color: #dfeaeb;
  margin: 10px 0 0 0;
}

.button{
  display: inline-block;
  height: 65px;
  outline: 3px solid #979797;
  text-align: center;
  color: #525252;
  font-size: 24px;
  margin: 0 0 0 0;
}

.button p{
  margin-top: 15px;
}

.button:hover {
  background-color: #C2FFF3;
}

.cat {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 30px 0 20px 35px;

}

.category:hover {
  opacity: .2;
  transition: opacity .3s;
}

.category{
  max-height: 100%;
  max-width: 100%;
  border-radius: 25%;
}

.catContainer {
  min-height: 100%;
  background-color: white;
  position: relative;
}

.catHolder {
  margin: 0 auto;
  width: 1030px;
  height: 100%;
  position: relative;
  /*outline: 1px solid black;*/
  margin-bottom: 25px;
  background-color: #FFCCCC;
}

.clickToEnter {
  opacity: 1;
  font-style: bold;
  color: #F7819F;
}

.catProj {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 20px 0 30px 40px;
  background-color: #A9F5D0;
  border-radius: 10%;
}

.catProj img{
  max-width: 95%;
  margin-top: 15px;
  margin-left: 2.5%;
  border-radius: 10%;
}

.imagesContainer {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.imageHolder {
  height: 200px;
  width: 200px;
  background-color: #0B2161;
  display: inline-block;
  margin-left: 30px;
  border-radius: 25%
}

.imageHolder:hover {
  border: 4px solid #CED8F6;
  width: 196px;
  height: 196px;
  transition: width .3s;
  transition: height .3s;
  transition: opacity .3s;
}

.introContainer {
  background-color: #CADCDE;
  position: fixed;
  width: 100%;
  height: 900px;
}

.infoProject {
  color: white;
}

.introBox {
  background-color: white;
  color: gray;
  width: 60%;
  position: relative;
  margin: 350px 0 0 185px;
  background-color: #CADCDE;
}

.introBox h1 {
  font-size: 60px;
}

.introBox h3 {
  font-size: 30px;
  margin-top: 0px
}

.links {
  height: 350px;
  background-color: pink;
  display: grid;
}

.members {
  height: 350px;
  background-color: gold;
  display: grid;
}

.navButtons {
  display: block;
  margin-top: 42px;
}

.navbuttons div p {
  margin-top: 10px;
}

.navcontainer {
  min-height: 200px;
  height: 100%;
  border-bottom: 2px solid gray;
}

.navcontainer h1 {
  color: black;
}


.photo_container {
  width: 40%;
  min-width: 90%;
  height: 525px;
  background-color: gray;
  margin: 20px 0 0 20px;
}

.photo_container img{
  width: 425px;
  height: 425px;
  margin: 5% 0 0 5%;
}

.popout {
  width: 0px;
  text-align: center;
  font-size: 0px;
  height: 60px;
  color: white;
  background: black;
  position: absolute;
  margin: -95px 0 0 2%;
  opacity: .7;
}

.projects {
  margin: 20px 10px 20px 10px;
  height: 350px;
  text-align: center;
  min-height: 100%;
  background-color: #285151;
}

.projects img {
  max-width: 95%;
  max-height: 100%;
  margin: 2.5%;

}

.projectscontainer {
  min-height: 300px;
  height: 100%;
  padding-top: 40px;
}

.projectTitle {
  text-align: center;
  /*height: 130px;
  border-radius: 20px;
  outline: 5px solid #007999;*/
  color: #007999;
  /*background-color: #af594f;*/
}

.projectTitle h1 {
  font-size: 50px;
}

.projectTitle h3 {
  margin-top: -30px;
}

.singleProjectContainer {
  /*background-color: yellow;*/
  height: 700px;
  padding-bottom: 10px;
  width: 100%;
}

.siteTitle {
  /*margin: 0 0 0 10%;*/
  display: block;
  /*text-align: center;*/
}

.siteTitle p{
  margin: 9px 0 0 0;
  font-weight: bold;
  font-size: 16px;
}

.siteTitle h1 {
  font-size: 45px;
}

.techTitle {
  margin-top: -130px;
  margin-left: 30px;
  font-size: 33px;
  color: white;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  opacity: 0;
  width: 100%;
}


.title {
  opacity: 0;
}

/* begin id elements */
#catProjectContainer {
  outline: 1px solid gray;
}

#clickCategory {
  text-align: center;
  color: #A0A0A0;
}

#project_photo {
  height: 550px;
  /*width: 550px;
  display: inline-block;
  float:left;*/
  /*margin: 40px;*/
}

#project_info {
  background-color: tomato;
  height: 200px;
  /*width: 300px;
  display: inline-block;*/
}

#project_description {
  background-color: aqua;
  height: 350px;
  /*width: 300px;
  display: inline-block;*/
}
