/* CSS declarations go here */
/* begin html elements */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* begin class elements */

.aboutmecontainer {
  min-height: 100%;
  background-color: #CADCDE;
  display: block;
}

.aboutmecontainer h2 {
  text-align: center;
}

.appContainer {
  width: 100%;
  background-color: #CADCDE;
  padding-top: 5px;
}

.bodyContainer {
  width: 100%;
  margin: 0 auto;
}

.bottom_container {
  min-height: 100%;
  background-color: #CADCDE;
  margin: 15px 0 0 0;
  display: block;
}

.bottomRow {
  background-color: #CCEFD0;
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}

.button{
  display: inline-block;
  margin-left: 5px;
  height: 65px;
  background-color: #BFFAD5;
  border-right: 5px solid #98DFE3;
  text-align: center;
  color: #525252;
  font-size: 22px;
  margin: 0 0 4px 0;
}

.button p{
  margin-top: 15px;
}

.button:hover {
  background-color: #C2FFF3;
}

.cat {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 30px 0 20px 35px;

}

.category:hover {
  opacity: .2;
  transition: opacity .3s;
}

.category{
  max-height: 100%;
  max-width: 100%;
  border-radius: 25%;
}

.catContainer {
  min-height: 100%;
  background-color: white;
  position: relative;
}

.catHolder {
  margin: 0 auto;
  width: 1030px;
  height: 100%;
  position: relative;
  margin-bottom: 25px;
  background-color: #FFCCCC;
}

.clickToEnter {
  opacity: 1;
  font-style: bold;
  color: #F7819F;
}

.catProj {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 20px 0 30px 40px;
  background-color: #A9F5D0;
  border-radius: 10%;
}

.catProj img{
  max-width: 95%;
  margin-top: 15px;
  margin-left: 2.5%;
  border-radius: 10%;
}

.currentPhoto{
  outline: 10px solid gray;
  width: 80%;
  margin: 50px 0 0 10%;
}

.descriptionsContainer {
    /*height: 300px;*/
    padding-bottom: 25px;
    min-height: 100%;
    background-color: #92E2E7;
}

.descriptionsContainer p {
  font-size: 22px;
  font-weight: bolder;
  color: #575D5D;
}

.github {
  background-color: #A0FDEF;
  height: 110px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: black;
}

.github h2{
  font-size: 38px;
  padding-top: 25px;
  color: gray;
}

.github p{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-top: -10px;
  opacity: 0;
}

.github:hover {
  background-color: #77ECF3;
  text-decoration: none;
}

.github:visited {
  text-decoration: none;
}

.imagesContainer {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.imageHolder {
  height: 200px;
  width: 200px;
  background-color: #0B2161;
  display: inline-block;
  border-radius: 25%;
}

.imageHolder:hover {
  border: 4px solid #CED8F6;
  width: 196px;
  height: 196px;
  transition: width .3s;
  transition: height .3s;
  transition: opacity .3s;
}

.introContainer {
  background-color: #CADCDE;
  position: fixed;
  width: 100%;
  height: 900px;
}

.infoProject {
  background-color: #285151;
  margin-top: -20px;
  color: white;
}

.introBox {
  background-color: white;
  color: gray;
  width: 60%;
  position: relative;
  margin: 350px 0 0 185px;
  background-color: #CADCDE;
}

.introBox h1 {
  font-size: 60px;
}

.introBox h3 {
  font-size: 30px;
  margin-top: 0px
}

.links {
  height: 350px;
  background-color: pink;
  display: grid;
}

.linksContainer {
  height: 300px;
  text-align: center;
  padding-top: 10px;
}

.live {
  background-color: #A0FDEF;
  height: 110px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: black;
}

.live p{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-top: -10px;
  opacity: 0;
}


.live h2{
  font-size: 38px;
  padding-top: 25px;
  color: gray;
}

.live:hover {
  background-color: #77ECF3;
}

.members {
  height: 350px;
  background-color: gold;
  display: grid;
}

.navButtons {
  display: block;
  margin-top: 42px;
  margin-right: 5%;
}

.navbuttons div p {
  margin-top: 10px;
}

.navcontainer {
  min-height: 200px;
  height: 100%;
  background-color: #98DFE3;
  margin-top: -5px;
}

.navcontainer h1 {
  color: black;
}


.photo_container {
  width: 90%;
  height: 525px;
  background-color: gray;
  margin: 20px 0 0 20px;
}

.photo_container img{
  width: 100%;
  /*height: 100%;*/
  margin-left: 5%;
}

.popout {
  width: 0px;
  text-align: center;
  font-size: 0px;
  height: 60px;
  color: white;
  background: black;
  position: absolute;
  margin: -95px 0 0 2%;
  opacity: .7;
}

.projects {
  margin: 20px 10px 20px 10px;
  height: 100%;
  text-align: center;
  min-height: 100%;
  background-color: #285151;
}

.projects img {
  width: 95%;
  max-height: 100%;
  margin: 2.5%;

}

.projectscontainer {
  min-height: 100%;
  height: 100%;
  padding-top: 0px;
}

.projectTitle {
  text-align: center;
  color: #007999;

}

.projectTitle h2 {
  font-size: 45px;
  font-weight: bolder;
}

.projectTitle h4 {
  margin-top: -5px;
}

.singleProjectContainer {
  background-color: #CADCDE;
  min-height: 100%;
  padding-bottom: 10px;
  width: 100%;
}

.singleTitle h1{
  font-size: 56px;
  font-weight: bolder;
}

.siteTitle {
  /*margin: 0 0 0 10%;*/
  display: block;
  font-size: 56px;
  /*text-align: center;*/
}

.siteTitle p{
  margin: -10px 0 0 0;
  font-weight: bold;
  font-size: 17px;
}

.siteTitle h1 {
  font-size: 56px;
}

.tech{
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.techList {
  margin: 6px 0 0 0;
}

.techStack {
  width: 80%;
  margin: 0 auto;
  min-height: 100%;
  text-align: center;
  background-color: #EBD3EB;
  color: #5B585B;
}

.techStack h3{
    margin: 15px auto 0 auto;
    padding-top: 10px
}

.techTitle {
  margin-top: -130px;
  margin-left: 30px;
  font-size: 33px;
  color: white;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  opacity: 0;
  width: 100%;
}


.title {
  opacity: 0;
}

.thumbContainer {
  height: 130px;
  overflow: hidden;
  margin-top: 40px;
}

.thumbHolder {
  padding-top: 5px;
  height: 130px;
  width: 1620px;
  background-color: #FCCECE;
}

.thumbPhoto {
  width: 120px;
  height: 120px;
  display: inline-block;
}

.thumbPhoto img {
  width: 90%;
  height: 90%;
  margin: 5% 0 0 10px;
  outline: 2px solid green;
}

.viewBox {
  position: absolute;
  border-top: 25px solid orange;
  border-bottom: 25px solid orange;
  border-right: 6px solid orange;
  border-left: 6px solid orange;
  width: 130px;
  height: 190px;
  margin: -30px 0 0 -1px;
}

/* begin id elements */
#catProjectContainer {
  /*outline: 1px solid gray;*/
}

#clickCategory {
  text-align: center;
  color: #A0A0A0;
}

#backPhotos {
  margin: -275px 0 0 9.3%;
  background-color: #0B2161;
  height: 135px;
  width: 14%;
  opacity: .1;
  font-size: 80px;
  color: white;
  position: absolute;
}

#challenge {
  background-color: aqua;
  height: 230px;
  padding: 2px 0 0 10px;
  margin: 20px 0 0 0;
}

#challenge h1 {
  font-size: 30px;
}

#challenge p {
  font-weight: bolder;
  font-size: 20px;
}

#clickCategory {
  display: block;
  margin-top: -20px;
}

#morePhotos {
  margin: -275px 0 0 72.3%;
  background-color: #0B2161;
  height: 135px;
  width: 14%;
  opacity: .1;
  font-size: 80px;
  color: white;
  position: absolute;
}

#photo-carousel-holder {
  min-height: 100%;
  /*padding-bottom: 20px;*/
}

#project_info {
  /*background-color: tomato;*/
  height: 100%;
}

#soWhat {
  margin: 0 0 0 5%;
  padding-top: 10px;
}

#soWhatContent {
  margin: 15px 0 0 35px;
  width: 90%;
}

#solution {
  min-height: 100%;
  margin: 25px 0 0 0;
  padding: 2px 0 0 10px;

  background-color: #E7EDF0;
}

#solution h2 {
  font-size: 30px;
}

#solution p {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
}
