/* CSS declarations go here */
/* begin html elements */


/* begin class elements */

.aboutmecontainer {
  min-height: 300px;
  max-height: 100%;
  /*background-color: gray;*/}

.appContainer {
  width: 100%;
  background-color: #CADCDE;
  padding-top: 5px;
}

.bodyContainer {
  width: 100%;
  margin: 0 auto;
}

.bottom_container {
  height: 400px;
  background-color: orange;
  margin: 10px 0 0 0;
}

.cat {
  height: 200px;
  width: 150px;
  background-color: #A0A0A0;
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

.cat img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.catContainer {
  height: 350px;
  min-height: 100%;
  background-color: #C0C0C0;
  position: relative;
}

.catHolder {
  margin: 0 0 0 10%;
  width: 90%;
  position: relative;
}

.clickToEnter {
  opacity: 1;
  font-style: bold;
  color: #F7819F;
}

.catProj {
  display: inline-block;
  height: 250px;
  width: 200px;
  outline: 2px solid black;
  margin: 20px 0 0 20px;
}

.imagesContainer {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

.introContainer {
  background-color: #CADCDE;
  position: fixed;
  width: 100%;
  height: 900px;
}

.introBox {
  background-color: white;
  color: gray;
  width: 60%;
  position: relative;
  font-size: 27px;
  margin: 350px 0 0 185px;
  background-color: #CADCDE;
}

.links {
  height: 350px;
  background-color: pink;
  display: grid;
}

.members {
  height: 350px;
  background-color: gold;
  display: grid;
}

.navcontainer {
  border-bottom: 5px solid gray;
  height: 150px;
  padding-top: 1px;
}

.navcontainer h1 {
  color: black;
}


.photo_container {
  width: 40%;
  min-width: 90%;
  height: 525px;
  background-color: gray;
  margin: 20px 0 0 20px;
}

.photo_container img{
  width: 425px;
  height: 425px;
  margin: 5% 0 0 5%;
}

.projects {
  margin: 20px 20px 20px 20px;
  height: 450px;
  background-color: #CCCCFF;
}

.projectscontainer {
  background-color: green;
  min-height: 300px;
  height: 100%;
  padding-bottom: 10px;
}


.singleProjectContainer {
  background-color: yellow;
  height: 700px;
  padding-bottom: 10px;
  width: 100%;
}

.title {
  opacity: 0;
}

/* begin id elements */
#project_photo {
  height: 550px;
  /*width: 550px;
  display: inline-block;
  float:left;*/
  /*margin: 40px;*/
}

#project_info {
  background-color: tomato;
  height: 200px;
  /*width: 300px;
  display: inline-block;*/
}

#project_description {
  background-color: aqua;
  height: 350px;
  /*width: 300px;
  display: inline-block;*/
}
