<div class="pure-menu pure-menu-horizontal">
  <h1>Welcome to Jack's Page</h1>
  <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
  <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Beers</a></li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Stuff</a></li>
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Junk</a></li>
  </ul>
</div>
