<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Another Sinatra App</title>
  </head>
  <body>
    <h1>Welcome to Orange Technologies</h1>
    <p>
      Signup below for updates
    </p>
    <input type="button" name="name" value="">

    </form>
  </body>
</html>
